/* the head honcho */
body {
    background-color:rgb(148, 117, 77);
    color: rgb(17, 17, 17);
}

:link  {
    color:rgb(235, 235, 235);
}

:visited {
    color: rgb(235, 235, 235);
}


/*the challenge container*/
#challengesContainer {
    
}

/*a challenge*/
.challenge > ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
    border-radius: 20px;
    padding: 5px;
    max-height: 110vh;
    gap: 10px;
    background-color: rgb(89, 87, 90);
}

/*each category*/
.category {
    color: rgb(214, 214, 214);
    width: 250px;
    background-color: rgb(50, 49, 65);
    border-radius: 20px;
    padding: 10px;
}

/*the list items  themselves*/
.keyField {
    color: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: rgb(94, 156, 102);
    padding: 10px;
    border-radius: 10px;
}

.keyField > input {
    background-color: rgb(173, 177, 197);
}

/* the title of each keyField*/
.keyField > span {
    margin-right: 20px;
}

h3 {
    text-align: center;
}

h2 > div {
    font-size: 16px;
}

ul {
    list-style: none;
    padding-left: 0;
}

/* Tooltip text - CSS stolen from the internet*/
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(71, 71, 71);
    color: rgb(235, 235, 235);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
  }

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; 
  }